service vendor.dcxsrv /vendor/bin/dcxsrv
    class core
    user root
    group system radio shell net_bt_admin input audio wifi media camera
    oneshot

on property:vendor.ro.bootmode=cali
    start vendor.dcxsrv

on property:vendor.ro.bootmode=autotest
    start vendor.dcxsrv

on property:vendor.ro.bootmode=factorytest
    start vendor.dcxsrv
