service vendor.engpcclientlte /vendor/bin/engpc
    class core
    user root
    group system radio shell net_bt_admin input audio wifi media camera
    oneshot

on property:vendor.ro.bootmode=cali && property:vendor.flag.sys.usb.config=1
   setprop sys.usb.config vser
