service vendor.engpcclientlte /vendor/bin/engpc
    class core
    user root
    group system radio shell net_bt_admin input audio wifi media camera
    oneshot

on property:vendor.flag.engpc.restart=1
    restart vendor.engpcclientlte

on property:vendor.ro.bootmode=cali && property:vendor.flag.sys.usb.config=1
    setprop sys.usb.config vser

on cali-fs
    chmod 0660 /dev/block/mmcblk0p22
    chmod 0660 /dev/block/mmcblk0p24
    chmod 0660 /dev/block/mmcblk0p25
    chmod 0660 /dev/block/mmcblk0p26
    chown system system /dev/block/mmcblk0p22
    chown system system /dev/block/mmcblk0p24
    chown system system /dev/block/mmcblk0p25
    chown system system /dev/block/mmcblk0p26
